@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model WebApi.Models.UserModel
@{
    ViewData["Title"] = "Login Page";   
            
   
}

<!DOCTYPE HTML>
<html>
    <head>
       <link rel="stylesheet" type="text/css" href="~/css/App.css" />
    </head>

    <body>
        
             <div id='app'>
                    <form asp-action="Login">
                        <input type="email" placeholder="Username" asp-for="Username"/>
                        <input type="password" placeholder="Password" />

                        <button>Create Account</button>
                        <button  asp-action="Login">Sign in</button>

                    </form>                       

                    </div>
      
        
                   
    
    </body>
</html>